
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body
{
	margin: 10px 0px 0px 0px;
	padding: 0;
	background: #E6E6E6 url(/images/main-bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #8F8F8F;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: #222222;
}

h2
{
	font-size: 3em;
}

p, ol, ul
{
	margin-top: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	display:inline-block;
}

ul li {
	padding-bottom: 20px;
	display:inline-block;
}

p, ol
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #5C5539;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

/** WRAPPER */

.file_preview {
	width : 128px;
	height : 128px;
}

#wrapper
{
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}

.container
{
	width: 1000px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

.center
{
	width: 100%;
	margin: 0px auto;
	text-align: center;
}

/* Login form */
#login {
	width:300px;
	margin: 0px auto;
	background: #F1F2E9;
	padding: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:4px;
	border:1px solid #e0e0e0;
}

.panel, .note, .todo, .manager{
	margin: 0px auto;
	background: #F1F2E9;
	padding: 0px;
}

#login .login-header
{
	text-align:left;
	background: #F1F2E9;
	padding: 5px;
	font-weight:300;
	text-transform: uppercase;
}

.panel-header, .note-header, .todo-header, .manager-header
{
	text-align:left;
	background: #F1F2E9;
	padding: 5px;
	font-weight:300;
	text-transform: uppercase;
	border-radius: 5px;
}

#login .login-body, .panel-body, .note-body, .todo-body, .manager-body
{
	background: #FFF;
	padding: 0px 5px;
	text-align: left;
}

#login.login-footer, .panel-footer
{
	padding: 3px 0px;
	background: #FFF;
}


#login .login-action-button{
	display: inline-block;
	margin-top: 30px;
	background:#F1F2E9;
	background:-moz-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(10%, #F1F2E9), color-stop(100%, #F1F2E9));
	background:-webkit-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-o-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-ms-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F2E9', endColorstr='#F1F2E9', GradientType=0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:4px;
	border:1px solid #e0e0e0;
	color:#000;
}

/* Header */

#header-wrapper
{
	overflow: hidden;
	height: 150px;
	background: #FFFFFF;
}

#header
{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}
/* Menu */

#menu
{
	float: right;
	width: 810px;
	height: 80px;
	padding: 20px 40px 0px 0px;
}

#menu ul
{
	float: right;
	margin: 0;
	padding: 20px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
}

#menu a
{
	display: block;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #757575;
}

#menu a:hover
{
	text-decoration: underline;
}

#menu .current_page_item a
{
	background:#F1F2E9;
	background: linear-gradient(bottom, #F1F2E9 10%, #F1F2E9 100%);
	background:-moz-linear-gradient(top, #F1F2E9 10%, #F1F2E9  100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(10%, #F1F2E9), color-stop(100%, #F1F2E9 ));
	background:-webkit-linear-gradient(top, #F1F2E9 10%, #F1F2E9  100%);
	background:-o-linear-gradient(top, #F1F2E9 10%, #F1F2E9  100%);
	background:-ms-linear-gradient(top, #F1F2E9 10%, #F1F2E9  100%);
	background:linear-gradient(top, #F1F2E9 10%, #F1F2E9  100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F2E9', endColorstr='#F1F2E9 ', GradientType=0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:4px;
	border:1px solid #e0e0e0;
	color:#000;
}

/* Page */

#page-wrapper
{
	overflow: hidden;
}

#page
{
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 15px 40px;
	color: #8F8F8F;
}

/** CONTENT */

#wide-content
{
}

#wide-content h2
{
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

/** CONTENT */

#content
{
	float: left;
	width: 1080px;
	padding: 0px 0px 0px 0px;
}

#content h2
{
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle
{
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}

/** SIDEBAR */

#sidebar
{
	float: right;
	width: 280px;
}

#sidebar h2
{
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 2em;
}

/* Footer */

#footer
{
	margin: 0 auto;
	padding: 15px 0px 15px 0px;
}

#footer p
{
	text-shadow: 1px 1px 0px #FFFFFF;
	text-align: center;
	font-size: 12px;
	color: #4D565E;
}

#footer a
{
	color: #4D565E;
}

/* Three Column Footer Content */

#footer-wrapper
{
	background: #F1F2E9;
	text-align: center;
}

#footer-content
{
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 20px 10px;
	color: #717171;
}

#footer-content a
{
}

#footer-content h2
{
	margin: 0px;
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 30px;
	color: #36332E;
}

#footer-content #fbox1
{
	float: left;
	width: 280px;
	margin-right: 30px;
}

#footer-content #fbox2
{
	float: left;
	width: 500px;
}

#footer-content #fbox3
{
	float: right;
	width: 280px;
}

/* Banner Style */

#banner-wrapper
{
}

#banner
{
	overflow: hidden;
	width: 1120px;
	margin: 40px auto 0px auto;
}

/* Button Style */

.button-style
{
	display: inline-block;
	margin-top: 30px;
	background:#F1F2E9;
	background:-moz-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(10%, #F1F2E9), color-stop(100%, #F1F2E9));
	background:-webkit-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-o-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:-ms-linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	background:linear-gradient(top, #F1F2E9 10%, #F1F2E9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F2E9', endColorstr='#F1F2E9', GradientType=0);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:4px;
	border:1px solid #e0e0e0;
	color:#000;
}

.button-style a
{
	display: inline-block;
	padding: 10px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000;
}

/* List Style 1 */

ul.style1
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li
{
	padding: 20px 0px 20px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style1 a
{
	text-decoration: none;
	color: #6B6B6B;
}

ul.style1 a:hover
{
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first
{
	padding-top: 0px;
	border-top: none;
}

/* List Style 2 */

ul.style2
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li
{
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style2 .first
{
	padding-top: 0px;
	border-top: none;
}

/* List style 3 */

ul.style3
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li
{
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style3 p
{
	margin: 0px;
	padding: 0px;
}

ul.style3 img
{
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted
{
	padding: 10px 0px 10px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first
{
	padding-top: 0px;
	border-top: none;
}

/* Recent News */

#recent-news
{
	overflow: hidden;
	width: 1120px;
	padding: 50px 40px;
	background: #36332E;
	color: #8C8C8C;
}

#recent-news h2
{
	padding: 0px 0px 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: #EDEDED;
}

#recent-news .date
{
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	font-style: normal;
	color: #E3E3E3;
}

#recent-news p
{
	font-style: italic;
}

#recent-news a
{
	font-style: normal;
	color: #B8B8B8;
}

#recent-news #rbox1
{
	float: left;
	width: 250px;
	margin-right: 40px;
}

#recent-news #rbox2
{
	float: left;
	width: 250px;
	margin-right: 40px;
}

#recent-news #rbox3
{
	float: left;
	width: 250px;
}

#recent-news #rbox4
{
	float: right;
	width: 250px;
}

/* Button Style */

.button-style1
{
	margin-top: 30px;
}

.button-style1 a
{
	padding: 10px 25px;
	background: #EBB462;
	border-radius: 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #FCE3BB;
	color: #36332E !important;
}
