<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>

<script>

	$(document).ready(function(){

		//no pun intended
		$(".manager-body").hide();
		$(".manager-header").click(function(){
			$(this).parent().find('.manager-body').slideToggle();
		});

		$("#reports_form").submit(function( event ) {
			event.preventDefault();
		 	$.ajax({
			    type:'POST',
			    url:'/reports/add',
			    data:{"category":$("#category").val(), "amount":$("#amount").val()},
			    success: function(){
			    	window.location.href = "manager";
			    }
			});
	 	});

		$("#new_category").click(function() {
			console.log($(this).is(':checked'))
			if($(this).is(':checked')){
				$("#category").remove();
				$("#category_holder").append('<input id="category" type="text" name="category"/>')
			} else {
				$.ajax({
				    type:'GET',
				    url:'/categories/all',
				    data:{"category":$("#category").val(), "amount":$("#amount").val()},
				    success: function(data){
						$("#category").remove();
						categories = eval(data);
						html = '<select id="category" name="category">'
						for(category in categories){
							html += '<option value="' + categories[category] + '">' + categories[category] + '</option>';
						}
						html += '</select>'
						$("#category_holder").append(html);
				    }
				});
			}
		})
	});

</script>

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="menu">
				<ul>
					<li><a href="notes" accesskey="2" title="">Бележки</a></li>
					<li><a href="todo" accesskey="3" title="">TODO</a></li>
					<li><a href="files" accesskey="3" title="">Файлове</a></li>
					<li class="current_page_item"><a href="manager" accesskey="4" title="">Manager</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page-wrapper">
		<div id="page">
			<div id="content">
				<div class="center">
					<div class="panel" style="width: 800px">
						<div class="panel-header">
							<strong>Manager</strong>
						</div>
						<div class="panel-body">

							<form id="reports_form" method = "POST" action = "reports/add">
								<table>
									<tr>
										<td>
											<p>Category: </p>
											<input id="new_category" type="checkbox" value="New"/>New
											<div id="category_holder">
												<select id="category" name="category">
													% for category in categories:
														<option value="${category}">${category}</option>
													% endfor
												</select>
												<!--<input id="category" type="text" name="category"/>-->
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<p>Amount: </p>
											<input id="amount" name = "amount"></input>
										</td>
									<tr/>
									<tr>
										<td>
											<input type="submit" value="Add entry"/>
										</td>
									</tr>
								</table>
							</form>
							<div class="report" style="width: 600px">
								<div class="manager-header">
									Report for today
								</div>
								<div class="manager-body">
									<p><strong>TOTAL: ${daily_report['total']}</strong></p>
									% for report in daily_report['entries']:
										<div style="width: 600px">
											<span style="width:35%; display:inline-block">
												${report['category']}  
											</span>
											<span style="width:25%; display:inline-block">
												${report['amount']}  
											</span>
											<span style="display:inline-block">
												${report['day']}.${report['month']}.${report['year']}
											</span>
										</div>
									% endfor
								</div>
							</div>

							<div class="report" style="width: 600px">
								<div class="manager-header">
									Report for this month
								</div>
								<div class="manager-body">
									<p><strong>TOTAL: ${monthly_report['total']}</strong></p>
									% for report in monthly_report['entries']:
										<div style="width: 600px">
											<span style="width:35%; display:inline-block">
												${report['category']}  
											</span>
											<span style="width:25%; display:inline-block">
												${report['amount']}  
											</span>
											<span style="display:inline-block">
												${report['day']}.${report['month']}.${report['year']}
											</span>
										</div>
									% endfor
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				&nbsp;
			</div>
			<div id="fbox2">
				<a href="#">Начало</a> | <a href="#">Бележки</a> | <a href="#">TODO</a> | <a href="#">Файлове</a> | <a href="#">Manager</a>
			</div>
			<div id="fbox3">
				&nbsp;
			</div>
		</div>
	</div>
</div>
<div id="footer">
</div>
</body>
</html>
