<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="menu">
				<ul>
					<li><a href="index" accesskey="1" title="">Начало</a></li>
					<li><a href="notes" accesskey="2" title="">Бележки</a></li>
					<li><a href="todo" accesskey="3" title="">TODO</a></li>
					<li><a href="files" accesskey="3" title="">Файлове</a></li>
					<li class="current_page_item"><a href="manager" accesskey="4" title="">Manager</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page-wrapper">
		<div id="page">
			<div id="content">
				<div class="center">
					<div class="panel" style="width: 800px">
						<div class="panel-header">
							<strong>Manager</strong>
						</div>
						<div class="panel-body">
							<p><strong>Описание</strong></p>
							<p>
								Ще представлява финансов мениджър, т.е. добавяне на суми по някаква категория. Ще могат да се правят дневни и месечни отчети.
							</p>
							<p><strong>Реализация</strong></p>
							<p>
								Подобно на бележките, ще бъде направен REST сървис, позволяващ добавянето, извличането на информация и даващ справка.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				&nbsp;
			</div>
			<div id="fbox2">
				<a href="#">Начало</a> | <a href="#">Бележки</a> | <a href="#">TODO</a> | <a href="#">Файлове</a> | <a href="#">Manager</a>
			</div>
			<div id="fbox3">
				&nbsp;
			</div>
		</div>
	</div>
</div>
<div id="footer">
</div>
</body>
</html>
