<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script src="js/jquery.min.js"></script>
<link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<script>

	$(document).ready(function(){

		$("#notes_form").submit(function( event ) {
			console.log("test");
			event.preventDefault();
		 	$.ajax({
			    type:'POST',
			    url:'/notes/add',
			    data:{"caption":$("#caption").val(), "body":$("#body").val()},
			    success: function(){
			    	window.location.href = "notes"
			    }
			});
	 	});

		$(".note-body").hide();
		$(".note-header").click(function(){
			$(this).parent().find('.note-body').slideToggle();
		});

		$(".note-body p").dblclick(function() {
			$(this).hide();
			console.log($(this));
			note = $(this).parent().parent()
			$(this).parent().prepend("<textarea cols='71' rows='5'>"+ $(this).text().trim() +"</textarea>");
			$(note).find("textarea").dblclick(function(){
				id = $(this).parent().find("tr").attr("id");
				body = $(this).val();
				caption = $(this).parent().parent().find(".note-header").text().trim();
				$.ajax({
			    	type:'POST',		
				    url:'/notes/update/' + id,
				    data:{"caption":caption, "body":body},
				    success: function(){
				    	$("#"+id).parent().parent().parent().parent().find("p").text(body);
				    	$("#"+id).parent().parent().parent().parent().find("p").show();
				    	$("#"+id).parent().parent().parent().parent().find("textarea").remove();
				    }
				});
			});
		})

		$(".remove_note").click(function(){
			id = $(this).parent().parent().attr("id");
		 	$.ajax({
			    type:'POST',
			    url:'/notes/remove/' + id,
			    data:{"caption":$("#caption").val(), "body":$("#body").val()},
			    success: function(){
			    	console.log("success");
			    	$("#"+id).parent().parent().parent().parent().remove()
			    }
			});
		})
	});
</script>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
</head>
<body>

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="#" accesskey="2" title="">Бележки</a></li>
					<li><a href="todo" accesskey="3" title="">TODO</a></li>
					<li><a href="files" accesskey="3" title="">Файлове</a></li>
					<li><a href="manager" accesskey="4" title="">Manager</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page-wrapper">
		<div id="page">
			<div id="content">
				<div class="center">
					<div class="panel" style="width: 800px" />
						<div class="panel-header">
							<strong>Бележки</strong>
						</div>
						<div class="panel-body">
							<form id="notes_form" method = "POST" action = "notes/add">
								<table>
									<tr>
										<td>
											<p>Caption: </p>
											<input id="caption" type="text" name="caption"/>
										</td>
									</tr>
									<tr>
										<td>
											<p>Body: </p>
											<textarea id="body" rows="4" cols="50" name = "body"></textarea>
										</td>
									<tr/>
									<tr>
										<td>
											<input type="submit" value="Add note"/>
										</td>
									</tr>
								</table>
							</form>

							% for note in notes:
								<div class="note" style="width: 600px">
									<div class="note-header">
										${note['caption']}
									</div>
									<div class="note-body">
									<p>
										${note['body']}
									</p>
									<table>
										<tr id="${note['_id']}">
											<td>
												<button class="remove_note">Remove</button>
											</td>
										</tr>
									</table>
									</div>

								</div>
							% endfor
<!--
							<div class="note" style="width: 600px">
								<div class="note-header">
									Lorem ipsum
								</div>
								<div class="note-body"><p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia mattis est, at molestie velit tempus eget. Aliquam erat volutpat. Aenean dignissim eros in pretium lacinia. Praesent vitae quam in ligula laoreet rutrum id eget justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In suscipit bibendum sapien sed consequat. Maecenas fermentum nec risus quis dictum. Integer blandit quam sed lacus malesuada, ut condimentum ante vehicula. Suspendisse sollicitudin, nisi non auctor auctor, enim lorem bibendum nulla, a iaculis lacus risus eu velit.
								</p></div>
							</div>
							<div class = "note" style="width: 600px">
								<div class="note-header">
									Nunc tincidunt
								</div>
								<div class="note-body">
									<p>
										Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
									</p>
								</div>
							</div>
							<div class = "note" style="width: 600px">
								<div class="note-header">
									Proin dolor
								</div>
								<div class="note-body">
									<p>
										Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
									</p>
								</div>
							</div>
							-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				&nbsp;
			</div>
			<div id="fbox2">
				<a href="#">Начало</a> | <a href="#">Бележки</a> | <a href="#">TODO</a> | <a href="#">Файлове</a> | <a href="#">Manager</a>
			</div>
			<div id="fbox3">
				&nbsp;
			</div>
		</div>
	</div>
</div>
<div id="footer">
</div>
</body>
</html>
