<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form id = "uploader" action="/upload" method="post">
		<div class="panel" style="width: 800px">
			<div class="panel-header">
				<strong>Качване</strong>
			</div>
			<div class="panel-body"><p>
				<input id="upload_link" type="text" value="http://s3.amazonaws.com/design_images/images/2930/it_ssomething.png" style="width: 522px" name="url"/>
				<input id="upload_file_test" type="submit" value="Upload"/></p>
			</div>
			<span class="completed"></span>
		</div>
	</form>
</body>
</html>