<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<script src="js/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		$("#todos_form").submit(function( event ) {
			console.log("test");
			event.preventDefault();
		 	$.ajax({
			    type:'POST',
			    url:'/todos/add',
			    data:{"text":$("#text").val()},
			    success: function(){
			    	window.location.href = "todo";
			    }
			});
	 	});

		$(".todo-body p").dblclick(function() {
			todo = $(this).parent().parent();
			text = $(this).find(".todo-body p").text();
			id = $(todo).find(".todo-header").attr("id");
			console.log(id);
			$.ajax({
		    	type:'POST',		
			    url:'/todos/delete/' + id,
			    data:{"text":text},
			    success: function(){
			    	$(todo).remove();
			    }
			});
		})
	});
</script>

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="menu">
				<ul>
					<li><a href="notes" accesskey="2" title="">Бележки</a></li>
					<li class="current_page_item"><a href="todo" accesskey="3" title="">TODO</a></li>
					<li><a href="files" accesskey="3" title="">Файлове</a></li>
					<li><a href="manager" accesskey="4" title="">Manager</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="page-wrapper">
		<div id="page">
			<div id="content">
				<div class="center">
					<div class="panel" style="width: 800px" />
						<div class="panel-header">
							<strong>TODO</strong>
						</div>
						<div class="panel-body">
							<p><strong>Double click a TODO to remove it</strong></p>
							<form id="todos_form" method = "POST" action = "todos/add">
								<table>
									<tr>
										<td>
											<textarea id="text" rows="4" cols="50" name = "text"></textarea>
										</td>
									</tr>
									<tr>
										<td>
											<input type="submit" value="Add TODO"/>
										</td>
									</tr>
								</table>
							</form>
							<br/>

							% for todo in todos:
								<div class="todo" style="width: 600px">
									<div id="${todo['_id']}" class="todo-header">
									</div>
									<div class="todo-body">
										<p>
											${todo['text']}
										</p>
									</div>
								</div>
							% endfor

							<div class="todo" style="width: 600px">
								<div class="todo-header">
								</div>
								<div class="todo-body"><p>
									Pay the rent today @3:00 PM
								</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-wrapper">
		<div id="footer-content">
			<div id="fbox1">
				&nbsp;
			</div>
			<div id="fbox2">
				<a href="#">Начало</a> | <a href="#">Бележки</a> | <a href="#">TODO</a> | <a href="#">Файлове</a> | <a href="#">Manager</a>
			</div>
			<div id="fbox3">
				&nbsp;
			</div>
		</div>
	</div>
</div>
<div id="footer">
</div>
</body>
</html>
